/*header*/

  
.dropdown-menu a{
    
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
nav a{
  color: #FFAF42;
  font-family: 'Roboto', sans-serif;
  transition: 0.5s;
  transition-property:initial;
}

nav a:hover{
  color: #fd8709;
  
}
nav a:focus { 
  color: #fd5602 ; 
  font-weight: bold;
}

.nav-pills .show > .nav-link {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
a{
  //font-weight: 600;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}