/*header*/

.orange-color{
    color: #FFAF42;
    background-color: white;
  }
  .orange-color:hover{
    color: darkorange;
    background-color: black;
  }
  
  
  .dropdown-menu a{
    color: #FFAF42;
  }
  nav a{
    color: #FFAF42;
  }
  
  nav a:hover{
    color: #212529;;
  }
  
  .nav-pills .show > .nav-link {
    background-color: #FFAF42;
  }
  a{
    font-weight: 600;
  }