<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/DashBoard">
                            <i class="fas fa-chart-line"></i>
                            Dashboard 
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/AddMeal">
                            <i class="fas fa-pizza-slice"></i>
                            Add Meal
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/AddChef">
                            <i class="fas fa-utensils"></i>
                            Add Chef
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/AddPost">
                            <i class="fas fa-newspaper"></i>
                            Add Post
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Signup">
                            <i class="fas fa-user-shield"></i>
                            Add A New Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/MenuParent">
                            <i class="fas fa-pencil-alt"></i>
                            Edit or Delete Meal
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Chefs">
                            <i class="fas fa-pencil-alt"></i>
                            Edit or Delete Chef
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Blog">
                            <i class="fas fa-pencil-alt"></i>
                            Edit or Delete Post
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            
            <h2>Orders Details</h2>
                
            
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Meal Name</th>
                            <th>Meal Count</th>
                            <th>Unit Price</th>
                            <!-- <th>Date</th> -->
                            <th>Payment Method</th>
                            <th>User ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let order of orderList; let SN = index">
                            <td>{{SN+1}}</td>
                            <td>{{order.mealName}}</td>
                            <td>{{order.mealCount}}</td>
                            <td>{{order.mealPrice | currency: 'EGP'}}</td>
                            <!-- <td>{{order.date.toDate()|date:'dd/MM/yyyy '}}</td> -->
                            <td>{{order.option}}</td>
                            <td>{{order.userID}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
