body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight:bold;
    color:#FD5602;
}
h2 {
    color: #FD5602; 
    font-display: 3; 
    font-weight:bold;
    
}
.nav-link{
    color: #FE6E00;
    
}
ngb-rating{
    color:#FFAF42;
    font-size: 40px;
}
