<footer class="mainfooter" role="contentinfo">
    
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <!-- <h4>Heading 1</h4> -->
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Payment Center</a></li>
              <li><a href="#">Contact Directory</a></li>
              <li><a href="#">Forms</a></li>
              <li><a href="#">News and Updates</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <!-- <h4>Heading 2</h4> -->
            <ul class="list-unstyled">
              <li><a routerLink="/Home">Home</a></li>
              <li><a routerLink="/MenuParent">Menu</a></li>
              <li><a routerLink="/Chefs">Chefs</a></li>
              <li><a routerLink="/LogIn">Login</a></li>
              <li><a routerLink="/Signup">SignUp</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <h4>Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>				
      </div>
      </div>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center">&copy; Copyright 2021 - FoodCourt.  All rights reserved.</p>
      </div>
    </div>
  
  
    </div>
    </div>
  </footer>
