<div class="container d-flex flex-row " style="margin-top: 70px;">
    <!-- Displaying The details of each meal -->
        <img [src]="meals?.image" width="50%" class="align-self-center shadow-lg mb-5 d-inline" style="margin-top:20px">
        <div class="d-flex flex-column justify-content-center text-left" style="margin-left: 50px; margin-right: 60px;">
            <h1 class="display-4"> {{meals?.name}}</h1>
            <h4> {{meals?.price|currency:'EGP'}}</h4>
            <br><br>
            <h5 class="mb-3"> {{meals?.description}}</h5>
            <br>
            <!-- <h4 id="rate" class="mb-4"> Rate this meal:  -->
                <!-- <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating> -->
            <!-- </h4> -->
            <div class="d-flex flex-row justify-content-between">
                <button class="btn btn-lg rounded-pill" (click)="back()">Back</button>
                <!-- <input #itemsCount class=" _column product-qty rounded-pill col-lg-3" type="number" min="1" value="1"> -->

                <!-- <button class="btn add rounded-pill sm-btn-sm" (click)="addToCart(itemsCount.value)" data-toggle="modal" data-target="#myModal">Get</button> -->
            </div>
        </div>
</div>