<header style="margin-top:100px; text-align: center;" class="d-flex flex-column justify-content-center">
  <h1>What will <span class="headerElement">you</span> eat today</h1>
  <h4 id="subTitle">We bring professional chefs to your home to prepare delicious, 
    <br>
    customized meals at a fraction of the cost.</h4>
</header>

<div class="container d-flex flex-row justify-content-center" style="margin-top:25px">
  <i class="fas fa-plus-circle" (click)="openWindow()"></i>
  <h5 id="addMeal">Add a new meal</h5>
</div>

  <!-- Filling the dropdown list with category names from the database -->
  <div class="d-flex flex-row container justify-content-between flex-wrap" style="margin-top:50px">
      <button class="btn CatBtn rounded-pill active" *ngFor="let cat of CategoryList" (click)="setCatID(cat.id)">
        {{cat.name}}
      </button>
  </div>

  <app-menu-child [InputCategoryID]="SelectedCategory"></app-menu-child>
  

