// start section 
.bg-image {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/foodcourt-2f1f1.appspot.com/o/blog%2F1.jpg?alt=media&token=4f39814b-5802-44fa-b856-6e1d944d56b3");
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin-top: 5%;
    padding:8%;
    background-position: center center
}
.container{
    font-family:'Roboto', sans-serif;
}
.innerItem{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
h2 {
    color: #fd5602;

}
.commentName{
    font-weight: bold;
    font-size:25px;
}
.postDetails{
    background-color: rgb(240, 234, 234);
    width: 80%;
    
}
hr{
   font-weight: bolder;
}

.postTitle{
    color: #fd5602;
    font-weight: bolder;
    font-size:25px;
}
.alert{
 width: 41.5%;
 height: 40px;
}


.leftList img {
    width: 80%;
}

.addPost{
    text-decoration: none;
    margin-top:20px;
    color: #fd5602;
    font-size: large;
}
.form_title {
    margin-bottom: 50px;
    margin-left: 8%;
    text-transform: uppercase;

}
.btn{
    background-color: #fd5602;
}
.img__wrap {
    position: relative;
  
  }
  .img__description {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    padding:25% 5% 20% 5%;
    background: rgba(217, 205, 189, 0.6);
    color:#fd5602;
    visibility: hidden;
    opacity: 0;
    font-size: 35px;
    font-weight:bold;
    text-decoration: none;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
    width: 80%;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
     width: 80%;
    
  }
  .fa-edit{
    margin-right:20px ;
  } 
  
  .fa-trash-alt{
    
     margin-left: 20px;
  }

