<body class="mx-auto">
    <div class="row d-flex col-lg-12 mx-auto" style="margin-top: 50px;">

        <div class="col-lg-4" *ngFor="let offer of ListOffers">
            <div class="card shadow card-light m-2">
                <p class="ribbon"> Discount: {{offer?.discount}}</p>
                <a href="#"><img class="card-img-top" [src]="offer?.image"></a>

                <div class="card-body">
                    <h2>{{offer?.name}}</h2>
                    <h5>{{offer?.price}} L.E.</h5>
                    <!-- <p>{{offer?.description}}</p> -->
                    <!-- <p><a class="btn buttonColor" href="./Menu-main.html" role="button">View details &raquo;</a></p> -->
                    <p>
                        <a style="color: #FF8303;" type="button" class="btn btn-link" (click)="viewDetails(offer.id)"> More details &raquo;</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</body>

<app-footer></app-footer>
