<div class="text-center raw">
    <form class="form-signin col-3">
      <img
        class="mb-4 img-fluid"
        src="./assets/3.png"
        alt=""
        width="100px"
        height="100px"
      />
  
      <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
  
      <label for="username" class="sr-only">User Name</label>
      <input
        type="text"
        #email
        id="inputEmail"
        class="form-control"
        placeholder="User Name"
        required
        autofocus
      />
  
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        #password
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />
  
      <a
        class="btn btn-lg btn-block"
        
        type="submit"
        >Login</a
      >
  
      <br />
  
      <!-- <h6>
        Don't have an account? Then
        <a value="Sign up" routerLink="/Signup">Sign up</a> now!
      </h6> -->
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
  </div>
  
