<!-- Viewing meals of the selected category as cards -->
<br>
<div class="container-fluid justify-content-center ">
    <div class="row justify-content-center ">
        <div class="col-sm-10 col-xs-12 col-xl-3 col-lg-4 col-md-4 rounded card text-center card-light" style="margin:20px; border-color: white;" *ngFor = "let meal of MealsList" >
            <div class="img__wrap">
                <img [src]="meal?.image" class="rounded-corners card-img-top img__img">
                
                <div class="img__description">{{meal?.description}} <br>
                    <button style="color: white; text-align:center" type="button" class="btn btn-link" (click)="viewDetails(meal.id)"> More details</button>
                </div>
            </div>
            
            <div class="card-body">
                
                <h2 class="card-title text-center">{{meal?.name}}</h2>
                
                <div class="container d-flex flex-row justify-content-between col-8">
                    <h5 class="card-text text-center prices">{{meal?.price|currency:'EGP'}}</h5>
                    <i class="fas fa-edit" (click)="setMeal(meal)" 
                    data-toggle="modal" data-target="#updateModal"></i>
                    <i class="fas fa-trash-alt" (click)="setMealID(meal.id)" data-toggle="modal" data-target="#deleteModal"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<!--------------------Modal For Deleting A Meal ----------------------------------------------------------------------------->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> Oh Hello There! </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this meal ?
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn cont col-5" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn add col-5"(click)="deleteMeal()" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>



<!---------------------- Modal For Updating A Meal ----------------------------------------------------------------------------->
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> Oh Hello There! </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
              <label for="ID">ID: </label>
              <input type="text" class="form-control" id="ID" [value]="updatedMeal.id" readonly/>

              <label for="Name">Name: </label>
              <input type="text" class="form-control" id="Name" [value]="updatedMeal.name" name="Name" [(ngModel)]="updatedMeal.name"/>

              <label for="Price">Price: </label>
              <input type="text" class="form-control" id="Price" [value]="updatedMeal.price" name="Price" [(ngModel)]="updatedMeal.price"/>

              <label for="Name">Description: </label>
              <textarea class="form-control" id="Description" [value]="updatedMeal.description" name="Description" [(ngModel)]="updatedMeal.description"></textarea>
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn cont col-5" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn add col-5"(click)="editMeal()" data-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>