.food_btn {
    font-size: 18px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    padding: 0 32px;
    background: #ffaf42;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    margin-left:17%;
    margin-bottom: 5%;

}
.container-fluid{
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}
.card-title{
    color:#fd8709;
}