
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div id="ourChefs" class="col-12  d-flex flex-column  align-items-center">Our Chefs
            <a class="container d-flex flex-row justify-content-center addChef" style="margin-top:10px ; margin-bottom: 5px;" routerLink="/AddChef">
                Add New Chef</a>
        </div>
        
        <div class="shadow rounded card text-left col-3 card-light p-0 " style="margin-right: 20px; margin-bottom: 20px;"
            *ngFor="let chef of ChefList">

           <div class="img__wrap ">
            <img [src]="chef?.image">
            <button type="button" class="btn btn-link  img__description" (click)="viewChef(chef.id)">Know them
                    better</button>
           </div>
              
            <div class="card-body  ">
                <h3 class="chefN">{{chef?.name}}</h3>
                <p>{{chef?.description}}</p>
                
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
