
    <div class="container-fluid">
        <h2 class = "card-title text-center"> Add Meal </h2>
        <form class="col-12" (ngSubmit) = "onSubmit()">
            <div class="row justify-content-center">
                <div class="input-field col-8" style="margin:15px;">
                    <label>ID: </label>
                    <input type="text" class="form-control" placeholder="Add ID" [(ngModel)]="addedMeal.id" name="id">
                </div>

                <div class="input-field col-8" style="margin:15px;">
                    <label>Name: </label>
                    <input type="text" class="form-control" placeholder="Add Name" [(ngModel)]="addedMeal.name" name="name">
                </div>

                <div class="input-field col-8" style="margin:15px;">
                    <label>Image: </label>
                    <input type="text" class="form-control" placeholder="Add Image" [(ngModel)]="addedMeal.image" name="image">
                </div>

                <div class="input-field col-8" style="margin:15px;">
                    <label>Price: </label>
                    <input type="text" class="form-control" placeholder="Add Price" [(ngModel)]="addedMeal.price" name="price">
                </div>

                <div class="input-field col-8" style="margin:15px;">
                    <label>Description: </label>
                    <input type="text" class="form-control" placeholder="Add Description" [(ngModel)]="addedMeal.description" name="description">
                </div>

                <div class="input-field col-8" style="margin:15px;">
                    <label>Chef ID: </label>
                    <input type="text" class="form-control" placeholder="Add Chef ID" [(ngModel)]="addedMeal.chefID" name="chef">
                </div>

                <div class="input-field col-8" style="margin:15px;">
                    <label>CategoryID: </label>
                    <input type="text" class="form-control" placeholder="Add Category ID" [(ngModel)]="addedMeal.categoryID" name="category">
                </div>

                <div class="input-field col-8" style="margin:15px;">
                    <label>Discount: </label>
                    <input type="text" class="form-control" placeholder="Add Discount" [(ngModel)]="addedMeal.discount" name="discount">
                </div>

                <div class="input-field col-8" style="margin:15px;">
                    <label>Show: </label>
                    <input type="text" class="form-control" placeholder="Add Show" [(ngModel)]="addedMeal.show" name="show">
                </div>
                
            </div>
            <input type="submit" class="btn AddBtn" value="Add" style="margin-left:17%;">
        </form>
    </div>

<app-footer></app-footer>

